body, html {
    background-color: rgb(14, 14, 14);
    width: 600px; 
    height: 500px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    color: whitesmoke;
    justify-content: center;
    font-family: "Inter";
    margin: 0px;
    padding: 0px;
}


.full-continer {
    display: flex;
}

/* #########
Scrollbar
######### */

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(28, 28, 28);
}

/* #########
Sidebar
######### */

.sidebar-container {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: rgb(28, 28, 28);
}

.header-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 32px;
    height: 32px;
}

.header-text {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-list-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.standing-wrap p {
    font-size: 12px;
    color: rgb(200, 200, 200);
}

.standig-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.standig-nav a {
    width: 100%;
    padding: 10px 0px 10px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
}

.standig-nav a:hover {
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.standig-nav .active {
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.options-wrap p {
    font-size: 12px;
    color: rgb(200, 200, 200);
}

.option-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.option-nav a {
    width: 100%;
    padding: 10px 0px 10px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
}

.option-nav a:hover {
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.option-nav .active {
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.app-version-info {
    color: rgb(200, 200, 200);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    font-style: italic;
}

/* #########
Content
######### */

.content-container {
    width: 400px;
    margin-left: 200px;
    text-align: left;
    padding-left: 20px;
}

.nav-indicator {
    font-size: 14px;
    display: flex;
    gap: 8px;
    color: rgb(200, 200, 200);
}

.nav-indicator-active {
    color: rgb(255, 255, 255);
}

.hr-line {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hr-line .neutral {
    border-color: rgba(18, 18, 18, 1);
}

.hr-line.bad {
    border-color: #f3a0a0;
    width: 20%;
}

.hr-line.good {
    border-color: #a0f3a0;
    width: 20%;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.list-elem {
    background-color: rgba(18, 18, 18, 1);
    border-radius: 10px;
    /* padding: 10px; */
    width: 80%;
    height: 40px;
    justify-self: center;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

button:hover {
  transform: scale(1.2);
}

.info-container {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-self: center;
}

.avata-container {
    border-radius: 10px;
    height: 100%;
}

.avata-container img {
    border-radius: 10px;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

